*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER / NAV  */

.nav{
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #e8eaee;
    background: #FFFFFF;
}

.navleft{
    position: relative;
    top: 10px;
    right: 5rem;
    height: 80px;
    display: flex;
}

.navleft img{
    width: 50px;
    height: 50px;
}

.navleft h2{
    margin-top: 10px;
    padding: 0 5px;
}

.navcenter{
    position: relative;
    top: 20px;
    right: 20px;
}

.navcenter ul{
    display: flex;
    flex-wrap: wrap;
}

.navcenter ul li{
    font-size: 18px;
    list-style: none;
    padding: 0 15px;
    cursor: pointer;
}

.navright{
    position: relative;
    top: 5px;
}

.navright button{
    font-size: 18px;
    padding: 20px 10px;
    color: #FFFFFF;
    background: #267DFF;
    border: none;
    border-radius: 10px;
}

/* MAIN UP */

.mainup{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainup__Right{
    height:650px;
    padding: 30px 30px;
    background: #F2F6FF;
}

.mainup__Right--Header h1{
    padding: 10px 0;
    font-size: 50px;
    line-height: 1.2;
}

.mainup__Right--Header p{
    font-size: 20px;
    padding: 20px 0;
    line-height: 1.3;
}

.mainup__Right--Middle{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 30px 0;
}

.mainup__Right--Middle-left button{
    font-size: 16px;
    padding: 15px 10px;
    color: #FFFFFF;
    background: #267DFF;
    border: none;
    border-radius: 10px;
}

.mainup__Right--Middle-right{
    position: relative;
}

.mainup__Right--Middle-right span{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 8px;
}

.mainup__Right--Middle-right ion-icon{
    position: relative;
    top: 13px;
    width: 20px;
    height: 20px;
}

.mainup__Right--Footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.mainup__Right--Footer-right img{
    border: 1px solid #FFF;
    border-radius: 50px;
    object-fit: cover;
}

.mainup__Right--Footer-right-img2{
    position: relative;
    right: 10px;
}

.mainup__Right--Footer-right-img3{
    position: relative;
    right: 20px;
}

.mainup__Right--Footer-right h4{
    font-weight: 600;
    padding: 10px 0;
}

.mainup__Right--Footer-left ion-icon{
    width: 20px;
    height: 20px;
    padding-right: 6px;
}

.mainup__Right--Footer-left h3{
    font-size: 18px;
}

.mainup__Right--Footer-right p{
    font-size: 15px;
}


.mainup__Right--Footer-header{
    position: relative;
    top: 10px;
    display: flex;
    width: 200px;
}

.mainup__Right--Footer-left-text{
    position: relative;
    top: 32px;
    width: 280px;
}

.mainup__Right--Footer-left-text h4{
    padding: 10px 0;
}

.mainup__Right--Footer-left-text span{
    font-size: 15px;
}

.mainup__Left{
    position: relative;
}


.mainup__Left--img img{
    width: 674.5px;
    height: 650px;
    position: absolute;
    right: 0;
}

.mainup__Left--text{
    width: 80%;
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    color: #ffff;
    padding: 20px 20px; 
    backdrop-filter: blur(10px);
    line-height: 1.5;
}

.mainup__Left--text-p{
    font-weight: 600;
    padding-bottom: 30px;
}

.mainup__Left--container{
    width: 310px;
    display: flex;
}

.mainup__Left--name-img img{
    margin-right: 10px;
    border-radius: 50px;
    object-fit: cover;
}

.mainup__Left--name-text span{
    font-weight: 400;
    position: relative;
    top: 8px;
}
